.h-sliderA .dsFollowSlide-navi li,.h-sliderC .dsFollowSlide-navi li,.h-content-2d li,.f05-1d .h-fore02 li,.h-trust{
    display: inline;
    zoom: 1;
}
.hg-shortcut .fl i{
    top:7px;
}
.f05-1d .h-title-last{
    top: 6px;
}