.f04{
    height: 435px;
    margin-bottom: 15px;
}
.f04-main{
    padding: 6px 0 0 216px;
}
.f04-1d{
    padding-left: 10px;
    float: left;
    position: relative;
    z-index: 0;
}
.h-sliderA{
    width: 514px;
    height: 300px;
    overflow: hidden;
}
.h-sliderA li{
    display: inline;
    margin: 0;
    padding: 0;
    position: relative;
}
.h-sliderA .dsFollowSlide-con a{
    height: 300px;
    overflow: hidden;
    display: block;
}
.h-sliderA .dsFollowSlide-view{
    position: relative;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
.h-sliderA .dsFollowSlide-con{
    position: absolute;
}
.h-sliderA .dsFollowSlide-navi{
    position: absolute;
    bottom: 10px;
    right: 10px;
}
.h-sliderA .dsFollowSlide-navi li{
    display: inline-block;
}
.h-sliderA .dsFollowSlide-navi a{
    color: #ffffff;
    width: 22px;
    height: 15px;
    line-height: 15px;
    margin: 0 0 0 3px;
    background-color: #333;
    border: 1px solid #FFFFFF;
    display: block;
    text-align: center;
    opacity: .75;
    filter:alpha(opacity=75);
    position: relative;
}
.h-sliderA a:hover{
    text-decoration: none;
}
.h-sliderA .dsFollowSlide-navi .current a{
    background-color: #E94E4E;
}
.h-sliderA img{
    margin: 0 0 0 -120px;
}
.h-sliderB{
    width: 514px;
    height: 130px;
    overflow: hidden;
}
.h-sliderB li{
    float: left;
    position: relative;
}
.h-sliderB .s-unit{
    width: 514px;
    overflow: hidden;
}
.h-sliderB .s-unit ul{
    display: block;
    clear: both;
}
.h-sliderB .s-unit li{
    height: 129px;
    border-right: 1px solid #CCCCCC;
    border-bottom: solid 1px #CCCCCC;
}
.h-sliderB .s-unit .s-frt{
    border-left: solid 1px #CCCCCC;
}
.h-sliderB .s-unit a{
    display: block;
}
.h-sliderB img{
    width: 170px;
    height: 129px;
}
.h-sliderB .s-prev,.h-sliderB .s-next,.h-arrow b{
    background: url(../img/common-v2.png) no-repeat;
}
.h-sliderB .s-prev{
    background-position: -107px -63px;
    left: 4px;
}
.h-sliderB .s-prev:hover{
    background-position: -91px -63px;
}
.h-sliderB .s-next{
    background-position: -140px -63px;
    right: 4px;
}
.h-sliderB .s-next:hover{
    background-position: -124px -63px;
}
.h-sliderB .s-prev,.h-sliderB .s-next{
    position: absolute;
    top: 55px;
    width: 17px;
    height: 23px;
}
.f04-2d{
    position: relative;
    float: right;
}
.h-notice{
    border: 1px solid #CCCCCC;
    width: 230px;
    height: 310px;
    position: relative;
}
.n-header{
    background-color: #F5F5F5;
    border: none;
    border-bottom: solid 1px #CCCCCC;
    border-left: solid 1px #CCCCCC;
    width: 76px;
    float: left;
    font-size: 14px;
    font-weight: bold;
    line-height: 30px;
    height: 30px;
    text-align: center;
    cursor: pointer;
    overflow: hidden;
}
.n-header-first{
    border-left: none;
}
.h-notice .current{
    background-color: #FFFFFF;
    border-bottom: none;
    cursor: inherit;
}
.n-content{
    position: absolute;
    top: 30px;
    left: 0;
    padding: 5px 0 0 0;
    width: 230px;
}
.n-content li{
    padding: 6px 3px;
}
.current .n-content{
    display: block;
    height: 280px;
}
.n-img{
    float: left;
    margin-top: 3px;
    width: 50px;
    height: 50px;
    margin-right: 5px;
}
.n-name{
    float: right;
    width: 169px;
    line-height: 18px;
    height: 36px;
    overflow: hidden;
    display: block;
}
.n-price{
    display: block;
}
.n-news{
    padding: 4px 0 0;
}
.n-news li{
    line-height: 27px;
    padding: 0 25px;
    position: relative;
}
.n-news li i {
    background-color: #E94E4E;
    display: block;
    height: 3px;
    width: 3px;
    position: absolute;
    top: 11px;
    left: 17px;
}
.n-news li:nth-child(2n) {
    background: none repeat scroll 0 0 #F4F4F4;
}
.h-recommend{
    width: 230px;
    height: 110px;
    margin-top: 5px;
    border: solid 1px #CCCCCC;
}

.h-title{
    cursor: default;
    border-bottom: solid 2px #999999;
    line-height: 16px;
    height: 16px;
    padding: 2px 0 7px 0;
    margin: 0 0 10px 0;
}
.h-title h2{
    width: 90px;
    margin: 0 auto;
    line-height: 20px;
    height: 20px;
    position: relative;
    font-size: 14px;
    font-family: "Microsoft YaHei";
    font-weight: bold;
    z-index: 10;
}
.h-arrow{
    border-bottom:solid 2px #E94E4E;
    position: absolute;
    height: 25px;
    top: 0;
    width: 178px;
    left: 0;
    z-index: 10;
    text-align: center;
}
.h-arrow h2 {
    background-color: #E94E4E;
    height: 19px;
    margin: 3px auto 0;
    position: relative;
    width: 50%;
    z-index: -1;
}
.h-arrow b{
    background-position: -73px -93px;
    width: 12px;
    height: 4px;
    display: block;
    margin: 0 auto;
    _height:2px;
}
.h-content{

}
.f05,.f04-main{
    overflow: hidden;
}
.f05{
}
.f05-1d{
    float: left;
    width: 738px;
    height: 350px;
    position: relative;
    padding-top: 37px;
}
.f05-1d .current .h-title{
    color: #E94E4E;
    /*border: none;*/
}
.current .h-title h2{
    color: #FFFFFF;
}
.f05-1d .h-content{
    display: none;
}
.current .h-content{
    display: block;
}
.f05-1d .h-title{
    position: absolute;
    text-align: center;
    top:0px;
    width: 178px;
    /*z-index: 20;*/
}
.h-fore01 .h-title{
    left: 0;
}
.h-fore02 .h-title{
    left: 178px;
}
.h-fore03 .h-title{
    left: 356px;
}
.f05-1d .h-title-last{
    cursor: default;
    border-bottom: solid 2px #999999;
    width: 204px;
    position: absolute;
    top: 25px;
    left: 534px;
}
.f05-1d .h-content{
    border: solid 1px #CCCCCC;
    height: 340px;
}
.h-fore01{

}
.f05-2d{
    float: right;
    width: 230px;
    height: 384px;
    overflow: hidden;
}
.h-latest h2{
    text-align:left;
    width: auto;
}
.h-latest .h-content{
    height: 340px;
    overflow: hidden;
    position: relative;
    border: solid 1px #CCCCCC;
}
.h-latest iframe{
    height: 340px;
    width: 228px;
    overflow: hidden;
}

/*
    宽屏处理
*/
.wideMode .h-sliderA,.wideMode .h-sliderB,.wideMode .h-sliderB .s-unit{
    width: 754px;
}
.wideMode .h-sliderA img{
    margin-left: 0;
}
.wideMode .h-sliderB img{
    width: 187px;
}
.wideMode .f05-1d{
    width: 977px;
}
.wideMode .f05-1d .h-title-last{
    width: 443px;
}